
@{
    ViewBag.Title = "Lang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    @Html.Label(WebApplicationLogin.Resources.HomeLang.Language);

    <ul>
        <li>@Html.ActionLink("English", "Change", "Lang", new { lang = "En" }, null)</li>
        <li>@Html.ActionLink("Deutsch", "Change", "Lang", new { lang = "Ge" }, null)</li>
        <li>@Html.ActionLink("Polski", "Change", "Lang", new { lang = "Pl" }, null)</li>

    </ul>
*@
