@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Zajrzyj do swojej skrzynki!</h1>
</hgroup>
<div >
    <p>
        Na podany adres email został wysłany link do zmiany hasła
    </p>
    <div style="float:right; margin-top:2px">
        <img src="~/Content/emailconfirm.png" style="width:200px;height:200px;" />
    </div>
</div>
	
